@import url('https://fonts.googleapis.com/css2?family=Caveat:100,200,300,400,500,600,700|family=Roboto+Slab:100,200,300,400,500,600,700');
main {
    padding-top: 180px;
}
/*--------------------------------------------Colors*/
.bg-color-name-title {
    color: #C5A464;
}

#nav {
    background-color: #2b1b1e;
    opacity: 70%;
}

.ui-menu-color-home {
    background-color: #2B1B1E;
}

.ui-menu-color-about {
    background-color: #1c3642;
}

.ui-menu-color-signup {
    background-color: #71929f;
}

.ui-menu-color-comment {
    background-color: #db8350;
}
.light a {
    color: #c1c1b8;
}

.dark a {
    color: #2B1B1E;
}

.intro-color {
    background-color: #C5A464;
}
.about-color {
    background-color: #DB8350;
}
.signup-color  {
    background-color: #7CA056;
}
/*--------------------------------------------Header*/
.row {
    margin-left:0;
    margin-right:0;
}
.col {
    padding-left:0;
    padding-right:0;
}
header {
    margin: 0;
    height: 180px;
    position: fixed;
    width:100%;
    background-color: ghostwhite;
}

header > div {
    height: 120px;
}

.headcontainer {
    background-image: url("../images/pexels-mikhail-nilov-6623930-sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    margin-left: 50px;
    
}

.logo {
    background: url("../images/logo300.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 110px;
    margin-top: 10px;
}

.sitename {
    font-family: "Roboto+Slab", sans-serif;
    font-weight: 100;
    font-size: 32px;
}

.jingle {
    font-family: "Roboto+Slab", sans-serif;
    font-weight: 200;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.menucontainer {
    font-size: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    height: 30px;
    padding-top: 2px;
}

.menuitem {
    height: 30px;
    text-align: center;
    padding: 0;
}
.menuitem a {
    width: 100%;
    text-decoration: none;
    font-weight: 600;
}
/*--------------------------------------------Main*/

.intro {
    background: url("../images/pexels-viktoria-khivrich-18958442-md.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
.about {
    background: url("../images/pexels-mikhail-nilov-6623930-md.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
.signup {
    background: url("../images/pexels-michael-burrows-7125440-md.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
h4 {
    padding-bottom: 1.5rem;
}
/*--------------------------------------------Footer*/

@media screen and (max-width: 573px) {
    .headcontainer {
        background-image: none;
    }
    .heading {
        margin-left: 10px;
    }
    header {
        background-image: url("../images/pexels-mikhail-nilov-6623930-sm.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo {
        background: url("../images/logo200trans.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        max-height: 80px;
    }
}